.hom-1{
    box-shadow: white;
    width: 500px;
    
    background-color: white;
    
    
    margin-left: 20px;
    text-align: center;
}

.home-1{
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}
.ho{
    background-color: burlywood;
}

.home-1 > Model{
    display: flex;
    justify-content: space-between;
    
}

@media(max-width: 768px){
    .hom-1{
        text-align: left;
        max-width: 390px;
        width: 100%;
    }
    .home-1{
        flex-direction: column;
    }
    .ho{
        background-color: white;
    }
}