
 .Header_main{
    display: flex;
    justify-content: space-evenly;
    /* max-width: 1200px; */
    width: 100%;
    /* margin-left: 200px; */
  
     background-color: #2874f0;
}
.Header{
   background-color: #2874f0;

}

.Explore{
        margin-left: 25px; 
        margin-top: -15px;
        color:#fff;
}
.Header_sec1{
    margin-right: 0%;
}

.Header_sec2 input{
    width: 550px;
    height: 30px;
    margin-top: 10px;
    margin-left: 0px;
}

.Header_sec3{
   
   display: flex;
   justify-content: space-evenly;
   
}
.sec3{
    margin-left: -40px;
    margin-right: 40px;
    margin-top: 10px;
    color: #2874f0;
}
.sec4{
    margin-top: 10px;
   
  
}
.header__option2{
    color:#fff;
}
.login{
    width: 80px;
    height: 30px;
    background-color: white;
    color: black !important;
    text-align: center;
}
.header__logo{
    width: 100px;
    margin-top: 10px;
}
.header__cart{
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
    
}
.header__carticon{
    width: 30px;
    height: 30px;
    color: rgb(243, 242, 242);
}
.cartflex{
    display: flex;
    flex-direction: row;
}
.colorcart{
    color: #fff;
}
.dropdown{
    position: relative;
    display: inline-block;
    width: auto;
    justify-content: space-between;
    padding: -50px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
}
.drop_down1{
    max-width: 250px;
    width:100%;
    padding: 10px;
    background-color: white;
    border: 2px solid gainsboro;
    position: relative;
}
.drop_down1_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.drop_down1_header span{
    z-index: 2;  
}
.drop_down1_body ul{
margin: 0;
padding: 0;
}
.drop_down1_body ul li{
  display: block;
  margin-top: 15px;
  padding: 8px;
  cursor: pointer;
}
.dropdown1_icon{
margin-bottom: -6px;
color: #2874f0;
}
.dropdown1_triangle{
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 50px solid white;
    position:absolute;
    top:10px;
    left:45%;
    transform: translateY(-45%);
    z-index: 1;
}
.drop_down1_on{
    position: fixed;
    top:58px;
    right: 230px;
    display: block;
    z-index: 100;
}.drop_down1_off{
    position: fixed;
    top:58px;
    right: 230px;
    display:none;
    z-index: 100;
}



.drop_down2{
    max-width: 280px;
    width:100%;
    padding: 10px;
    background-color: white;
    border: 2px solid gainsboro;
    position: relative;
}
.drop_down2_body ul{
    margin: 0;
    padding: 0;
    }
    .drop_down2_body ul li{
      display: block;
      margin-top: 15px;
      padding: 8px;
      cursor: pointer;
    }
    .dropdown2_icon{
    margin-bottom: -6px;
    color: #2874f0;
    }
    .drop_down2_triangle{
        width: 0;
        height: 0;
        border-right: 25px solid transparent;
        border-left: 25px solid transparent;
        border-bottom: 50px solid white;
        position:absolute;
        top:10px;
        left:45%;
        transform: translateY(-45%);
        z-index: 1;
    }
    .drop_down2_on{
        position: fixed;
        top:58px;
        right: 100px;
        display: block;
        z-index: 100;
    }
    .drop_down2_off{
        position: fixed;
        top:58px;
        right: 230px;
        display:none;
        z-index: 100;
    }
    

    .login_form_on{
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        background:rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .login_main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
       
    }
    .login_part1{
        background-color: #2874f0;
        color: #fff;
        max-width: 250px;
        width: 100%;
        padding: 20px;
    }
    .login_part2{
        padding: 30px;
        background-color: #fff;
        width: 350px;
        
    }
    .login_credentials{
        position: relative;
    }
    .login_credentials input{
        width: 100%;
        height: 30px;
        margin-top: 40px;
        border: none;
        border-bottom: 1px solid gainsboro;
        font-size: 16px;
        
    }
    .login_credentials input:focus{
        outline: none;
        background: transparent;
    }
    .login_part2 p{
        font-size: 14px;

    }
    .color_blue{
        color: #2874f0;
    }
    .login_button{
        background-color: #fb641b;
        border: 1px solid #fb641b;
        color: #fff;
        width: 100%;
        height: 30px;
        margin-top: 20px;
        cursor: pointer;
        border: 2px;
    }
    .login_or{
        text-align: center;
    }
    .createacc_button{
        background-color: #f0f0f0;
        border: 1px solid #f0f0f0;
        width: 100%;
        height: 30px;
        margin-top: 20px;
        cursor: pointer;
        border: 2px;  
        font-size: 16px;
        margin-bottom: 100px;
    }
    .login_part1_pic{
        margin-top: 220px;
    }
    .login_part1_info p{
        font-size: 18px;
        font-weight: 500;
    }
    .login_home{
        position: relative;
        max-width: 800px;
        width: 100%;
        display: flex;

    }
    .login_close{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .forgot{
        position: absolute;
        top: 48px;
        right: 10px;
        font-size: 14px;
        color: #2874f0;
    }
    .login_form_off{
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        background:rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }

    











@media (max-width:768px) {
    .Head_logo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .Header_sec2 input{
        width: 380px;
        margin-left: 5px;
    }

    .Header_main{
        display: block;
    }
    .sec3{
        margin-left: 7px;
    }
    .Explore{
        align-items: flex-end;
    }

    .drop_down2{
    max-width: 180px;
    width:100%;
    padding: 8px;
    position: relative;
    }
    .drop_down1_body{
        font-size: 13px;
    }
    .drop_down1_header{
        font-size: 13px;

    }
    .drop_down1{
        max-width: 180px;
        width:100%;
        padding: 8px;
        position: relative;
        }
        .drop_down2_body{
            font-size: 13px;
        }
        .drop_down2_header{
            font-size: 13px;
    
        }
        .drop_down2_on{
            top:168px;
        }
        .drop_down1_on{
            top:168px;
        }
        .login_home{
            display: block;
        }
        .login_part1{
            display: none;
        }
        .login_part2{
            margin-left: -20px;
        }
        .login_close{
            right: 5px;
            
        }
   
        

        
}