.carthead container{
    display: flex;
}
.payment__info{
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    display: flex;

}
.payment__info1{
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    

}
.Ak{
    margin-left:300px;
    margin-top: 40px;
}
.ak1{
    margin-left: 70px;
    
    
}
.ak1 > input{
    padding-left : -20px
    
}
.main__payment{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: -25%;
}
.main__payment2{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 25%;
}
.main__payment1{
    margin-right: 20px;
}
.place{
    background: #fb641b;
    width: 190px;
    height: 40px;
    margin-left: 220px;
    color: #fff;
    border: none;
    margin-left: 60%;
}
